body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

.perfil {
    display: flex;
}

.info-personal h2 {
    margin-top: 0;
}

.info-personal ul {
    list-style-type: none;
    padding: 0;
}

.info-personal ul li {
    margin-bottom: 20px;
}

.info-personal ul li img {
    width: 150px;
    float: left;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}